.form-control-rounded {
	border-radius: 20rem;
}

.form-control-flush {
	padding-left: 0;
	resize: none;
    border-color: transparent !important;
    background-color: transparent !important;
    box-shadow: none !important;
}