.list-group-activity {

	.list-group-item {
		border: 0;

		&:not(:last-child)::before {
			content: '';
			position: absolute;
			top: 1rem;
			left: 1.25rem;
			height: 100%;
			border-left: 1px solid $gray-300;
		}
	}
}

.list-group-flush {

	> .list-group-item {
		padding-left: 0;
		padding-right: 0;
	}
} 