.navbar-collapse {
    margin-left: -1rem;
    margin-right: -1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.logo {
    height: 30px;
}
.dash-nav {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.navbar-nav .nav-item {
    margin-bottom: 0;
    border-top: 1px solid #e9e9f2;
}